const Command = require("../base/Command.js");

class <cmdname> extends Command {
  constructor (client) {
    super(client, {
      name: "<cmdname>",
      description: "<cmddesc>",
      category: "<cmdcat>",
      usage: "<usage>",
      permLevel: "<perms>"
    });
  }

  async run (message, args) { // eslint-disable-line no-unused-vars

  }
}
module.exports = <cmdname>;
